In [29]:
# #book suggestion

In [30]:
import numpy as np
import pandas as pd

In [35]:
books=pd.read_csv("BX-Books.csv",sep=';',error_bad_lines=False,encoding='latin-1',warn_bad_lines=False)
books.head(1)

/root/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...

In [4]:
#books=books[['ISBN','Book-Title','Book-Author']]
books=books.iloc[:,0:3]
books.columns=["ISBN","Book Name","Author"]
books.shape

(271360, 3)

In [ ]:
ratings=pd.read_csv("BX-Book-Ratings.csv",sep=';',error_bad_lines=False,encoding='latin-1',quoting=csv.QUOTE_NONE)
ratings.columns=["User_id","ISBN","Rating"]
ratings.head(3)

In [6]:
user_min=ratings['User_id'].value_counts()

In [7]:
user_min=user_min[user_min>200]

In [8]:
len(user_min)

899

In [9]:
ratings=ratings[ratings['User_id'].isin(user_min.index)]
#here we ratings from those users which is in user_min so for that we choose their index(i.e,user_id)
len(ratings)

526356

In [10]:
ratings.head(1)

      User_id        ISBN  Rating
1456   277427  002542730X      10

In [11]:
ratings_with_bookname=ratings.merge(books, on='ISBN')
ratings_with_bookname.head(5)

,User_id,ISBN,Rating,Book Name,Author
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner

In [12]:
#here value reduce becoz there are books which are not in book
len(ratings_with_bookname)

487671

In [13]:
final_ratings_with_bookname=ratings_with_bookname.groupby('Book Name')['Rating'].agg('count').reset_index().rename(columns={'Rating':'num_ratings'})#.sort_values("Rating",ascending=False)
#ratings_with_bookname['Book Name'].value_counts()
final_ratings_with_bookname

                                                Book Name  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
5                                            Dark Justice            1
6                                                Deceived            1
7        Earth Prayers From around the World: 365 Pray...            3
8        Final Fantasy Anthology: Official Strategy Gu...            3
9        Flight of Fancy: American Heiresses (Zebra Ba...            1
10       Garfield Bigger and Better (Garfield (Numbere...            1
11                              God's Little Promise Book            1
12       Good Wives: Image and Reality in the Lives of...            5
13       Goosebumps Monster Edition 1: Welcome to Dead...            3
14       Harry Potter and the Bible: The Menace Behind...            1
15       Highland Desire (Zebra Splendor Historical Ro...            1
16       Hiking the California Coastal Trail: Oregon t...            1
17                                           It Takes Two            1
18                   LA Gallinita Roja/the Little Red Hen            2
19       Little Comic Shop of Horrors (Give Yourself G...            4
20       Murder of a Sleeping Beauty (Scumble River My...            7
21                                           Mystery Mile            1
22       Nonbook Materials: The Organization of Integr...            1
23         Pokemon: The Official Collector's Sticker Book            1
24       Q-Space (Star Trek The Next Generation, Book 47)           12
25        Q-Zone (Star Trek The Next Generation, Book 48)            8
26                           Tales of Terror and Suspense            1
27       The Secret of the Old Clock (Nancy Drew, Book 1)            2
28       The Tender Commandments : Reflections on the ...            2
29                          The Town Cats and Other Tales            1
...                                                   ...          ...
160239                                         seaQuest 2            2
160240                        sed &amp; awk (2nd Edition)            1
160241                sed &amp; awk (A Nutshell handbook)            1
160242                         sharks (reading discovery)            1
160243                                           stardust           18
160244                                  street bible, the            1
160245         termcap &amp; terminfo (O'Reilly Nutshell)            1
160246                               the Dark Light Years            1
160247                 the Heiress Bride  (sister brides)            3
160248                                 the Lost and Found            2
160249                       the Twelve Days of Christmas            1
160250                              them (Modern Library)            1
160251                              together by christmas            7
160252                                       voyage fatal            1
160253                             wet sand, raven tracks            1
160254  whataboutrick.com: a poetic tribute to Richard...            1
160255                   why I'm like this : True Stories            4
160256                             Â¡Corre, perro, corre!            1
160257              Â¡Cristina! confidencias de una rubia            1
160258             Â¿Eres tu mi mamÃ¡?/Are You My Mother?            1
160259                           Â¿QuÃ© me quieres, amor?            1
160260  Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten            1
160261       Ã?coute ma diffÃ©rence (Le Temps des femmes)            1
160262                  Ã?ngeles fugaces (Falling Angels)            1
160263                             Ã?Â?ber das Fernsehen.            2
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
160265                                      Ã?Â?lpiraten.            1
160266                     Ã?Â?rger mit Produkt X. Roman.            1
160267                              Ã?Â?stlich der Berge.            1
160268                                  Ã?Â?thique en toc            1

[160269 rows x 2 columns]

In [14]:
ultimate_final_ratings_with_bookname=ratings_with_bookname.merge(final_ratings_with_bookname, on="Book Name")

In [15]:
ultimate_final_ratings_with_bookname.head(5)

,User_id,ISBN,Rating,Book Name,Author,num_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82

In [16]:
len(ultimate_final_ratings_with_bookname)

487671

In [17]:
mask=ultimate_final_ratings_with_bookname["num_ratings"]>=50

In [18]:
ultimate_final_ratings_with_bookname=ultimate_final_ratings_with_bookname[mask]

In [19]:
ultimate_final=ultimate_final_ratings_with_bookname.drop_duplicates(['User_id','Book Name'])
len(ultimate_final)

59850

In [20]:
ultimate_pivot=ultimate_final.pivot_table(values='Rating',index='Book Name',columns='User_id').fillna(0)

In [21]:
from scipy.sparse import csr_matrix
ultimate_sparse=csr_matrix(ultimate_pivot)

In [22]:
from sklearn.neighbors import NearestNeighbors
nn=NearestNeighbors(metric='cosine',algorithm='brute')
nn.fit(ultimate_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [23]:
distances,suggestion=nn.kneighbors(ultimate_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [24]:
suggestion=suggestion.ravel()

In [25]:
for i in range(len(suggestion)):
    if i==0:
        print("book suggestion for:\t{}".format(ultimate_pivot.index[suggestion[i]]))
    else:
        print(ultimate_pivot.index[suggestion[i]])

book suggestion for:	Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Order of the Phoenix (Book 5)

In [26]:
np.where(ultimate_pivot.index=='Animal Farm')[0][0]

54

In [27]:
def suggest(book_name):
    bindex=np.where(ultimate_pivot.index=='Animal Farm')[0][0]
    distances,suggestion=nn.kneighbors(ultimate_pivot.iloc[bindex,:].values.reshape(1,-1),n_neighbors=6)
    suggestion=suggestion.ravel()
    for i in range(len(suggestion)):
        if i==0:
            print("book suggestion for:\t{}".format(ultimate_pivot.index[suggestion[i]]))
        else:
            print(ultimate_pivot.index[suggestion[i]])

In [ ]:
user_input=input("enter book name")
suggest(user_input)

In [ ]:
#tmdb5000